body {
	background-color:#e6e6e6;
}

#center_bar {
	position:relative;
	align:center;
	height:700px;
	width:115px;
	background:black;
	display:block;
	margin-top:-5px;
	margin-left:45%;
	margin-right:45%;
	float: none;
} 

 #business {
	position:absolute;
	text-decoration:none;
	display:inline;
 	color:black;
 	background-color:#e6e6e6;
	border-top:1px black solid;
	border-bottom:1px black solid;
 	font-family:Ostrich Sans;
 	font-size:130%;
	letter-spacing: 1px;
	margin-left:-1px;
	margin-top:200px;
	padding-left:315px;
	padding-right:5px;
	padding-top:4px;
	padding-bottom:2px;
	float:none;
}

#person {
	position:absolute;
	text-decoration:none;
	color:black;
	background-color:#e6e6e6;
	border-top:1px black solid;
	border-bottom:1px black solid;
	display: inline;
	font-family:Ostrich Sans;
	font-size:130%;
	letter-spacing: 1px;
	margin-left:-253px;
	margin-right:3px;
	padding-right:315px;
	padding-top:4px;
	padding-bottom:2px;
	padding-left:5px;
	float:none;
	margin-top:300px;
}

div #notion {
	position:absolute;
	background-color:#E83403;
	border-top:2px white solid;
	width:112px;
	height:30px;
	margin-left:-1px;
	margin-top:670px;
	font-family:Ostrich Sans;
	font-size:200%;
	color:#e6e6e6;
	text-align:center;
	padding-top:2px;
	padding-bottom:0px;
	padding-left:5px;
	letter-spacing: 5px;
}

div #flip {
	position:absolute;
	width:117px;
	height:20px;
	margin-top:643px;
	font-family:Ostrich Sans;
	font-size:200%;
	color:#e6e6e6;
	text-align:center;
	letter-spacing: 5px;
	padding-left:5px;
}
