body {
	background-color:#e6e6e6;
}

#nav_bar {
	position:fixed;
	align:left;
	height:700px;
	width:115px;
	background:black;
	display:block;
	margin-top:-20px;
	margin-left:50px;
	margin-right:45%;
	float: none;
} 

#nav_bar img {
	position:fixed;
	background-color:#850000;
	border-top:1px white solid;
	width:117px;
	height:45px;
	top:665px;
	margin-left:-1px;
	color:#e6e6e6;
	text-align:center;
}