<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<title> Apella {% block title %}{% endblock %} </title>
			{% block fonts %}{% endblock %}
			{% block style_link %}  <link type="text/css" rel="stylesheet" href="static/css/base_style.css">{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body%}
			{% block navbar %}
			<div id="nav_bar">
				<img>
			</div>
			{% endblock %}	
			<div id="nav_bar">
				<img>
			</div>
			{% block content%}
			{% endblock%}
			
			{% block footer%}
			{% endblock %}
		{% endblock %}
	</body>
</html>
