{% extends "chris_base.html" %}
{% block title%} -Welcome {% endblock%}
{% block fonts %} <link href='http://fonts.googleapis.com/css?family=Dosis:200,400' rel='stylesheet' type='text/css'>{% endblock%}
{% block style_link %} <link type="text/css" rel="stylesheet" href="static/css/intro.css"> {% endblock %}
	{%block body%}
		<div id="center_bar">
			<a align="Right" id="business" href="chris_base.html">Business</a>
			<a id="person" href="chris_base.html">Person</a>
			<!-- ><p id="flip">Flip</p> -->
			<p id="apella">apella<p/>
		</div>	
	{% endblock %}
