<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="CSS/website_homepage.css"/>
		<title>Website Hompage</title>
	</head>
	<body>
		<div id="left_sidebar">
			<a id="top_link" href="http://www.google.com">FlipNotion</a>
			<a class="sidebar_links" href="http://www.google.com">Vision</a>
			<a class="sidebar_links" href="http://www.google.com">Enter Idea</a>
			<a class="sidebar_links" href="http://www.google.com">Post Problem</a>
			<a class="sidebar_links" href="http://www.google.com">Vote Problem</a>
			<a class="sidebar_links" href="http://www.google.com">About</a>
		</div>
		<h1>FlipNotion: A Market for <span>Ideas</span></h1>
		<p>
			The past two decades have seen a gradual but noticeable change in the economic organization of innovative activity. Most firms used to integrate research and development with activities such as production, marketing, and distribution. Today firms are forming joint ventures, research and development alliances, licensing deals, and a variety of other outsourcing arrangements with universities, technology-based start-ups, and other established firms. In many industries, a division of innovative labor is emerging, with a substantial increase in the licensing of existing and prospective technologies. In short, technology and knowledge are becoming definable and tradable commodities.
		</p>
		<p></p>
		<p></p>
		<p></p>
		<div id="footer">
			
		</div>
	</body>
</html>